* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: black;
    color: white;
}

p {
    color: DimGray;
}

.aqua,
.aqua:hover {
    color: Aquamarine;
    text-decoration: underline;
}